
@using SimchaFund.data
@using SimchaFund.web.Models
@model IndexViewModel


<div class="container" style="margin-top: 30px;">

    <div class="row">
        <div class="col-md-8">
            <h2 style="text-align:center;">Simchas</h2>
            <a class="btn btn-primary" href="/home/newsimcha" style="margin-bottom: 20px;">New Simcha</a>
            <br />
            <table class="table table-bordered table-striped">
               <tr>
                   <th>Contributions</th>
                   <th>Simcha Name</th>
                   <th>Contributor Count</th>
                   <th>Total</th>
                   <th>Simcha Date</th>
                   <th>Actions</th>
               </tr>
                @foreach(SimchaWithCount s in Model.Simchas)
                {
                    <tr>
                        <td><a class="btn btn-primary" href="/Home/NewContributions/?simchaId=@s.Simcha.Id">Contributions</a></td>
                        <td>@s.Simcha.Name</td>
                        <td>@s.ContributerCount / @Model.ContributerCount</td>
                        <td>@s.ContributionTotal.ToString("C")</td>
                        <td>@s.Simcha.Date.ToShortDateString()</td>
                        <td><a class="btn btn-info" href="/Home/ContributorList/?id=@s.Simcha.Id&name=@s.Simcha.Name">List for Organizer</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>